<div class = "container form" style="margin-top:1%;background-color:rgba(255,255,255,.6);width:400px">
  <h2 class="center">Join Our Community!</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, :class => 'textbox', :placeholder => 'Email'%>
    </div>
    <div class = "field">
      <%= f.text_field :username, autofocus: true, :class => 'textbox', :placeholder => 'Username'%>
    </div>
    <div class = "field">
      <%= f.text_field :first_name, autofocus: true, :class => 'textbox',:placeholder => 'First Name' %>
    </div>
    <div class = "field">
      <%= f.text_field :last_name, autofocus: true, :class => 'textbox', :placeholder => 'Last Name'%>
    </div>
    <div class = "field">
      <%= f.text_field :college, autofocus: true, :class => 'textbox', :placeholder => 'College'%>
    </div>
    <div class="field">
      <%= f.password_field :password, autocomplete: "off", :class => 'textbox', :placeholder => 'Password (8 character minimum)'%>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off",:class => 'textbox', :placeholder => 'Confirm Password' %>
    </div>
    <h3>Tell us a little about yourself:</h3>
    <div class = "field">
      <%= f.text_field :bio, autofocus: true, :class => 'textbox', :placeholder => 'Tell us your story...'%>
    </div>
    <div class = "field">
      <%= f.text_field :values, autofocus: true, :class => 'textbox', :placeholder => 'What are your values?'%>
    </div>
    <div class = "field">
      <%= f.text_field :interests, autofocus: true, :class => 'textbox', :placeholder => 'What are your interests?'%>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", :class => 'submit' %>
    </div>
  <% end %>

  <div style="text-align:center;">or <%= render "devise/shared/links" %></div>
</div>
