
<h1>Profiles</h1>
<div class="row">
  <% @users.each_with_index do |user, index| %>
    <div class =  "col-sm-6 col-md-4">
      <div class="thumbnail id_toupe" style="padding:0px; height:300px;">
        <div class="container-fluid">
          <%= link_to user_path(user.username), class: "user-index-item" do %>
            <div class="row id_dcyan">
              <h3 class="user-index-item" style="padding-left:20px;"><%= user.first_name+" "+user.last_name %></h3>
            </div>
          <% end %>
          <div class="" style="padding:20px;">
            <div class = "row">
              <p class=""><%= user.bio %><p><br>
              <!-- If user is already friend or if user is user then hide the link -->
            </div>
            <% if user_signed_in? %>
              <div class="row">
                <!-- If user is friend and user isn't current_user display link -->
                <%= link_to friendships_path(:friend_id => user), :method => :post, class: "id_toupetext" do%>
                  <div class="col-md-6" style="height:30px;padding:auto;">
                    <p class="id_dcyantext"style="text-align:center;">
                      Add Friend
                    </p>
                  </div>
                <% end %>
                <%= link_to "#", class: "start-conversation", "data-sid" => current_user.id, "data-rip" => user.id do %>
                  <div class="col-md-6" style="height:30px;">
                    <p class="id_dcyantext" style="text-align:center;">
                      Send Message
                    </p>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
