<div class="container">
    <h1>Profiles</h1>
    <% @users.each do |user| %>
    <div class =  "bg-info col-md-8 col-md-offset-2" style = "margin-top: 10px;">
      <div class="page-header">
        <%= link_to user.first_name+" "+user.last_name, user_path(user.username) %>
        <%= user.email %>
        <%= user.bio %>
        <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      </div>
    </div>
    <% end %>
  </div>
  <% @users.each_with_index do |user, index| %>
  <tr>
    <% if user_signed_in? %>
      <td><%= index +=1 %></td>
      <td><%= user.first_name %></td>
      <td>
        <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                    "data-sid" => current_user.id, "data-rip" => user.id %>
      </td>
    <% end %>
  </tr>
  <% end %>

<div class="bk3">
  <div class = "trans3" style="width:100%;height:100%;">
  </div>
</div>
