<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>

<%= image_tag current_user.image.url(:medium) %>

<p><%= current_user.bio %></p>

<p><%= current_user.values %></p>

<p><%= current_user.interests %></p>

<p><%= current_user.college %></p>

<p><%= current_user.email %></p>
