<div class="bk"></div>
<div style="font-family:Open Sans; font-size:72px;">
  <h1 class = "center id_toupetext" style="margin-top:10%;">Let's Build Something.<br>Awesome.<br>Together.</h1>
</div>
<div style="padding:20px;">

  <div class="row" style="height:50px;">

  </div>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-12">
      <div class = "row" style="height: 100px; margin-bottom:20px;">
        <div class="col-xs-12 col-sm-12" style="margin:0px">
          <div class="thumbnail id_toupe">
            <div class="caption">
              <p>
                IdeaDeck is a platform allows entrepreneurs to pitch their ideas and current needs, and at the same time browse and inquire about other startups and their needs. We also provide a community aspect that has resources and tools that will help break the ice and smooth out these connections. We use <b><%=link_to "ideas", ideas_path, class:"id_dcyantext"%></b> are our engines, <b><%= link_to "entrepreneurs", users_path, class:"id_dcyantext" %></b> are our fuel, and the <span class="id_dcyantext"><b>community</b></span> as our catalyst.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xs-12">
          <div class="thumbnail id_dcyan" style="margin:0px;">
            <div class="caption">
              <h3 class="id_toupetext"><%=link_to "Ideas as engines", ideas_path, class:"id_toupetext"%></h3>
              <p class="id_toupetext">
                Ideas are really awesome. It's what inspires people and it's what drives people to action. When ideas are the foundation for your organization, it's ultimately what will drive people to make an impact.
              </p>
              <br>
              <p class="id_toupetext"> Go ahead, create an <%=link_to "IdeaPage!", new_idea_path, class:"id_redtext"%></p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xs-12">
          <div class="thumbnail id_orange" style="margin:0px;">
            <div class="caption">
              <h3 class="id_toupetext"><%=link_to "Users as fuel", users_path, class:"id_toupetext"%></h5>
              <p class="id_toupetext">
                Just because we believe in the idea doesn't mean we realize the value that each person brings! Our profiles are built to help our users tell their story. We want our users to be able to share what they really believe.
              </p>
              <br>
              <p class="id_toupetext">
                Check it out and <%=link_to "Join us!", new_user_registration_path, class:"id_redtext"%>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xs-12">
          <div class="thumbnail id_red" style="margin:0px;">
            <div class="caption">
              <h3 class="id_toupetext">Community as a catalyst</h5>
              <p class="id_toupetext">
                One of the most beneficial components of a successful startup is community support. That's why we're building an online community to help our entrepreneurs find resources and discuss their ideas.
              </p>
              <br>
              <p class="id_toupetext">
                Coming soon!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="down_chevron id_toupe">

    </div>
  </div>
  <hr style = "margin-top:200px; margin-bottom:100px;">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-5" style="padding: 50px;">
      <%= image_tag("rocket-science.jpg", width:"100%") %>
    </div>

    <div class="col-md-5" style="padding: 50px;">
      <div class="id_toupetext">
        <h3 class="id_orangetext center" style="margin-top:0px;">Our Manifesto</h3>
        <p>
          Here at IdeaDeck, we believe in building awesome things and seeing awesome things being built. To build awesome things, people need awesome teams. Unfortunately, large universities like Penn State cause networking barriers that stop these teams from being built.
        </p>
        <p>
          Right now, there aren’t too many good vehicles out there. Other sites focus on connecting people over a set of skills that an individual has – resulting in a very transactional relationship. We don't believe team building should be like this. Instead we believe potential partners should meet and build relationships through ideas. Ideas give rise to discussion and action. It’s ideas that create powerful relationships.
        </p>
      </div>
    </div>
  </div>
  <hr style="margin-top:100px; margin-bottom:100px;">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
      <h3 class="center id_orangetext">Simon Sinek - Start and Why: How great leaders inspire action</h3>
      <p class="id_toupetext">This is one of Myron's favorite TED Talks. This thought process is a lot of what our thought process is founded upon. Not only that, it is also what we believe our users should strive for in showing their profiles as well.</p>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-2">

    </div>
    <div class = "col-md-8 embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/u4ZoJKF_VuA" allowfullscreen></iframe>
    </div>
  </div>
</div>
