<input type="checkbox" id="menu" name="menu" class="menu-checkbox">
<div class="menu container">
  <label class="menu-toggle" for="menu"><span>Toggle</span></label>
  <%= link_to root_path do %><div class="row nav_item"style="margin-top:25px;"><ul style="margin-bottom:0px;">Home</ul></div><% end %>
  <%= link_to pages_about_path do %><div class="row nav_item"><ul style="margin-bottom:0px;">About Us</ul></div><% end %>
  <% if user_signed_in? %>
      <!-- This is for actions involving users signed in -->
    <%= link_to user_path(current_user.username) do %><div class="row nav_item"><ul style="margin-bottom:0px;">My Profile</ul></div><% end %>
    <%= link_to edit_user_registration_path do %><div class="row nav_item"><ul style="margin-bottom:0px;">Account Settings</ul></div><% end %>
    <%= link_to destroy_user_session_path do %><div class="row nav_item"><ul style="margin-bottom:0px;">Log Out</ul></div><% end %>
  <% else %>
    <%= link_to new_user_session_path do %><div class="row nav_item"><ul style="margin-bottom:0px;">Sign In</ul></div><% end %>
    <%= link_to new_user_registration_path do %><div class="row nav_item"><ul style="margin-bottom:0px;">Sign Up</ul></div><% end %>
  <% end %>
</div>
