<!DOCTYPE html>
<html>
<head>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <title>IdeaDeck</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="bk"></div>
    <% if user_signed_in? %>
      <% @users = User.where.not("id = ?",current_user.id).order("created_at DESC") %>
      <% @conversations = Conversation.involving(current_user).order("created_at DESC") %>
      <div class="container-fluid" style="height:100%">
        <%= render "layouts/header" %>
        <div class="row">
          <div class="col-sm-9 col-md-10">
            <div class="row">
              <% flash.each do |name, msg| %>
                <div class="alert alert-success alert-dismissible alert-#{name}" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong><%= msg %></strong>
                </div>
              <% end %>
            </div>
            <div class="row">
              <div class="container">
                <%= yield %>
              </div>
            </div>

          </div>
          <div class="col-sm-3 col-md-2">
            <%= render "users/userchat" %>
          </div>
        </div>
      </div>
    <% else %>
    <div class="row">
      <%= render "layouts/header" %>
      <div class="col-sm-12 col-md-12">
        <% flash.each do |name, msg| %>
          <div class="alert alert-success alert-dismissible alert-#{name}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong><%= msg %></strong>
          </div>
        <% end %>
        <div class="container">
          <%= yield %>
        </div>
      </div>
    <% end %>
    </div>
  </body>
</html>
