<!DOCTYPE html>
<html>
<head>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <title>IdeaDeck</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <div class="bk"></div>
    <div class="container" style="padding:0px;">
    <%= render "layouts/header" %>
      <% if user_signed_in? %>
        <% @users = User.where.not("id = ?",current_user.id).order("created_at DESC") %>
        <% @conversations = Conversation.involving(current_user).order("created_at DESC") %>
          <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 col-sx-12">
              <div class="row">
                <% flash.each do |name, msg| %>
                  <div class="alert alert-success alert-dismissible alert-#{name}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><%= msg %></strong>
                  </div>
                <% end %>
              </div>
              <div class="row">
                <%= yield %>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2" style="padding:0px;">
            </div>
            <%= render "users/userchat" %>
          </div>
      <% else %>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-sx-12">
            <% flash.each do |name, msg| %>
              <div class="alert alert-success alert-dismissible alert-#{name}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong><%= msg %></strong>
              </div>
            <% end %>
          </div>
          <div class="row">
            <%= yield %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
